{{!< default}}

  <div class="main-post-list">

    <ol class="post-list">
      {{#foreach posts}}
      <li>
        <h2 class="post-list__post-title post-title"><a href="{{url}}" title="link to {{{title}}}">{{{title}}}</a></h2>
        <p class="excerpt">{{excerpt}}&hellip;</p>
        <div class="post-list__meta">
          {{author}}
          &#8226;
          <time datetime="{{date format="DD MMM YYYY"}}" class="post-list__meta--date date">{{date format="DD MMM YYYY"}}</time>
          &#8226;
          <span class="post-list__meta--tags tags">{{tags prefix="on " sufix=" off"}}</span>
          <span class="post-list__comment"><a href="{{url}}#disqus_thread">0 Comments</a></span>
        </div>
        <hr class="post-list__divider" />
      </li>
      {{/foreach}}
    </ol>

    {{pagination}}

  </div>